@import '../../style.scss';

.home {
  margin: 0 auto;
  position: relative;
  display: table;

  .blog {
    border: 1px solid $borderLight;
    padding: 16px;
    margin: 12px 0;
    width: 600px;
    h3 {
      color: $themeDark;
    }
    p {
      color: $themeBlue;;
    }
  }
}