@import '../../style.scss';

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid $borderLight;
  h1 {
    color: $themePink;
  }
  .links {
    margin-left: auto;
  }
  a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    &:hover {
      color: $themePink;
    }
  }
}