@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import './assets/style/mixins';
@import './assets/style/variables';

* {
  margin: 0;
  font-family: "Quicksand";
  color: $themeDark;
}
